.lw-banner-list__content{padding:0}.lw-banner-list .lw-banner-list__active-toggle{cursor:pointer;display:inline-flex}.lw-banner-list .sw-data-grid__cell--actions .sw-data-grid__cell-content{overflow:visible}
