.lw-smart-banners {
    width: 100%;
}

.lw-smart-banner {
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    
    &--info {
        background-color: #d1ecf1;
        border: 1px solid #bee5eb;
        color: #0c5460;
    }
    
    &--success {
        background-color: #d4edda;
        border: 1px solid #c3e6cb;
        color: #155724;
    }
    
    &--warning {
        background-color: #fff3cd;
        border: 1px solid #ffeaa7;
        color: #856404;
    }
    
    &--danger {
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        color: #721c24;
    }
}

.lw-smart-banner-content {
    font-size: 0.875rem;
    line-height: 1.5;
    
    p {
        margin: 0;
        
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    
    a {
        text-decoration: underline;
        font-weight: 500;
    }
}
