.lw-smart-banners {
    width: 100%;
}

.lw-smart-banner {
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;

    &--display-overlay {
        position: fixed;
        z-index: 1100;
        max-width: 360px;
        width: calc(100vw - 2rem);
        margin: 0;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    }

    &--align-top-left {
        top: 1rem;
        left: 1rem;
    }

    &--align-top-center {
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &--align-top-right {
        top: 1rem;
        right: 1rem;
    }

    &--align-middle-left {
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    &--align-middle-right {
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
    }

    &--align-bottom-left {
        bottom: 1rem;
        left: 1rem;
    }

    &--align-bottom-center {
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &--align-bottom-right {
        bottom: 1rem;
        right: 1rem;
    }
    
    &--info {
        background-color: #d1ecf1;
        border: 1px solid #bee5eb;
        color: #0c5460;
    }
    
    &--success {
        background-color: #d4edda;
        border: 1px solid #c3e6cb;
        color: #155724;
    }
    
    &--warning {
        background-color: #fff3cd;
        border: 1px solid #ffeaa7;
        color: #856404;
    }
    
    &--danger {
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        color: #721c24;
    }
}

.lw-smart-banner-content {
    font-size: 0.875rem;
    line-height: 1.5;
    
    p {
        margin: 0;
        
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    
    a {
        text-decoration: underline;
        font-weight: 500;
    }
}
