.lw-banner-list {
    &__content {
        padding: 0;
    }

    &__filters {
        padding: 20px;
        padding-bottom: 0;
    }

    .lw-banner-list__active-toggle {
        cursor: pointer;
        display: inline-flex;
    }

    .sw-data-grid__cell--actions .sw-data-grid__cell-content {
        overflow: visible;
    }
}
