.lw-banner-list {
    &__content {
        padding: 0;
    }

    .lw-banner-list__active-toggle {
        cursor: pointer;
        display: inline-flex;
    }

    // Prevent the actions context menu from being clipped by the data grid cell content.
    .sw-data-grid__cell--actions .sw-data-grid__cell-content {
        overflow: visible;
    }
}
